@font-face {
    font-family: 'Bubble';
    src: url('../../fonts/HussarBoldWebEdition-xq5O.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyrillic';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyrillic-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#popup-body {
    display: flex;
    background-color: rgba(43, 39, 66, 0);
    font-family: 'Cyrillic';
    height: auto;
    width: 320px;
    z-index: 100;
    outline: none;
}

#apt-settings {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 190px;
    align-self: center;
    margin-right: 50px;
    padding: 0;
    padding-top: 10px;
    color: white;
    background-color: #2B2742;
    border: white 1px solid;
    border-radius: 3px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7));
    outline: none;

}

#apt-settings .p {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #b6b5ba;
    font-family:'Calibri';
    font-size: 20px;
    line-height: 1.2;
    cursor: pointer;
}

#apt-settings button {
    width: 90px;
    height: 40px;
    align-self: center;
    font-family: 'Cyrillic-Bold';
    color: #2B2D50;
    background-color: white;
    border: 3.5px solid #2B2D50;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 0;
    cursor: pointer;
}